body {
    background-color:lightsteelblue; 
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    font-family: montserrat;
}

.home-page p {
    font-size: 28px;
    font-family: oxygen;
    padding: 10px;
}

/* Games section styling */

#games-section {
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
}

.games {
    display:block;
    padding: 20px; 
    /* width:30%; */
    text-align: center;
}

/* Image styling */

.image {
    height:400px;
    width: 400px;
    border:2px solid black; 
    margin-bottom: 15px;
}

/* Button styling */

.button {
    background:#0096ff;
    font-size:15px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Bebas Neue', cursive; 
    border:solid 2px; 
    border-color: black;
}

.button:active {
    background:lightgreen;
}

/* Media queries at 1200px and 850px */


@media (max-width: 1200px) {
    .image {
        height:350px;
        width:350px;
    }
}
@media (max-width:850px) {
    #games-section {
        display: block;
        justify-content: center;
        align-items: center;
    }
    .image {
        height:300px;
        width:300px;
    }
}

/* Footer styling */

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color:  black;
    text-align: center;
    padding-top: 50px;
  }

footer a {
    color:blue;
}